.column {
    width: 20%;
    display: inline-block;
    position: absolute;
    top: 10px;
}
.column:nth-of-type(2){
    left: 33%;
}
.column:nth-of-type(3){
    left: 66%;
}
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.75);
}
li {
    position: relative;
    left: -20px;
    list-style-type: none;
    font-weight: 200;
}
h3 {
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
}
body {
    background-color: aquamarine;
}
li strong {
    position: absolute;
    right: 0;
}